/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
 
.ubu-text {
  color: #AA223C !important; }
  
.red.ubu {
    background-color: #AB001F !important; }
  
.grey.ubu {
    background-color: #3A3A3A !important; }